    @model ayni.Models.Transaccion
@using ayni.Sesiones

@{
    ViewBag.Title = "Calificar";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
    int idUsuario = SessionManagement.IdUsuario;
}


<div class="container col-lg-10 col-md-10 col-sm-12">
    <h4 class="display-4 mb-3 text-center" style="font-size:2.5rem">Calificar</h4>
    <div class="row justify-content-center">

        <div class="card col-6 shadow-sm">
            <div class="card-body">

                <div class="">


                    <div class="row justify-content-center">
                        <img src="~/Content/Img/profile_default.png" class="rounded-circle shadow-sm" />
                    </div>

                    <div class="row justify-content-center">
                        @if (Model.idUsuarioOfrece == idUsuario)
                        {
                            <h2>@Model.Usuario1.Nombre @Model.Usuario1.Apellido</h2>
                        }
                        else
                        {
                            <h2>@Model.Usuario.Nombre @Model.Usuario.Apellido</h2>
                        }

                    </div>



                    @using (Html.BeginForm("Calificar", "Transaccion", FormMethod.Post))
                    {
                        <div class="row justify-content-center">
                            <div class="rating">
                                <label>
                                    <input type="radio" name="stars" value="1" />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comentario:</label>
                            <textarea name="Comentario" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <input type="hidden" name="idTransaccion" value="@Model.idTransacion" />
                        <input type="hidden" name="idUsuarioCalificado" value="@Model.Usuario1.idUsuario" />

                        <div class="form-group my-3">
                            <input type="submit" value="Calificar" class="btn btn-primary w-100" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


<style>



    .rating {
        display: inline-block;
        position: relative;
        height: 50px;
        line-height: 50px;
        font-size: 50px;
    }

        .rating label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            cursor: pointer;
        }

            .rating label:last-child {
                position: static;
            }

            .rating label:nth-child(1) {
                z-index: 5;
            }

            .rating label:nth-child(2) {
                z-index: 4;
            }

            .rating label:nth-child(3) {
                z-index: 3;
            }

            .rating label:nth-child(4) {
                z-index: 2;
            }

            .rating label:nth-child(5) {
                z-index: 1;
            }

            .rating label input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }

            .rating label .icon {
                float: left;
                color: transparent;
            }

            .rating label:last-child .icon {
                color: #000;
            }

        .rating:not(:hover) label input:checked ~ .icon,
        .rating:hover label:hover input ~ .icon {
            color: #a100ff;
        }

        .rating label input:focus:not(:checked) ~ .icon:last-child {
            color: #000;
            text-shadow: 0 0 5px #09f;
        }
</style>

<script>
    $(':radio').change(function () {
        console.log('New star rating: ' + this.value);
    });
</script>
