@model ayni.Models.Transaccion
@using ayni.Sesiones
@using ayni.Models

@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
    int idUsuario = Convert.ToInt32(SessionManagement.IdUsuario);
    string nombre;
    string apellido;
    string emailLog;
    string email;
    string ubicacion;
    string foto;

    if (Model.Usuario1.idUsuario == SessionManagement.IdUsuario)
    {
        idUsuario = Model.Usuario.idUsuario;
        nombre = Model.Usuario.Nombre;
        apellido = Model.Usuario.Apellido;
        emailLog = Model.Usuario1.Email;
        email = Model.Usuario.Email;
        ubicacion = Model.Usuario.Localidad;
        foto = Model.Usuario.Foto;


    }
    else
    {
        idUsuario = Model.Usuario1.idUsuario;
        nombre = Model.Usuario1.Nombre;
        apellido = Model.Usuario1.Apellido;
        emailLog = Model.Usuario.Email;
        email = Model.Usuario1.Email;
        ubicacion = Model.Usuario1.Localidad;
        foto = Model.Usuario1.Foto;
    };
}


<div class="container col-lg-10 col-md-10 col-sm-12">
    <h4 class="display-4 mb-3" style="font-size:2.5rem">Contacto</h4>
    <div class="card">
        <div class="card-body">

            @if (Model.idEstadoTransaccion != 2)
            {

                <h5>Coordiná con @nombre @apellido de que manera se va a realizar el favor</h5>
                <small class="text-muted">Te enviamos un Email con los datos de contacto a @emailLog</small>
                <div class="row">
                    <img src="@Url.Content(@foto)" class="rounded-circle shadow-sm m-3" height="60" />
                    <p class="mt-2">

                        <strong>
                            <a href="~/Usuario/Perfil?idUsuario=@idUsuario">
                                @nombre @apellido
                            </a>
                        </strong>
                        <br />
                        Email: @email
                        <br />
                        Ubicación:
                        <span class="text-muted">@ubicacion</span>
                    </p>
                </div>




                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cancelarFavorModal">
                            Cancelar
                        </button>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmFavorModal">
                            El favor se concretó exitosamente
                        </button>


                


                @Html.ActionLink("Calificar", "Calificar", "Transaccion", new { idTransaccion = Model.idTransacion }, new { @class = "btn btn-primary" })



            }

            else
            {
                < h5 > Esta publicación fué cancelada </ h5 >
            }
        </div>
    </div>

    @*Modal cancelar transaccion*@
    <div class="modal fade" id="cancelarFavorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="row text-center">
                        Estas seguro de que deseas cancelar el favor luego de haberlo confirmado?
                        Serás calificado automaticamente de forma negativa.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary sm" data-dismiss="modal">Cerrar</button>
                    @Html.ActionLink("Si, quiero cancelarlo", "CalificacionCancelar", "Transaccion", new { idTransaccion = Model.idTransacion }, new { @class = "btn btn-primary", @onclick = "this.disabled = 'disabled',this.form.submit();" })
                </div>
            </div>
        </div>
    </div>


    @*Modal confirmar la transaccion*@
    <div class="modal fade" id="confirmFavorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="row justify-content-center">
                        Estás seguro?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    @Html.ActionLink("Confirmar", "ConfirmarTransaccion", "Cuenta", new { idTransaccion = Model.idTransacion }, new { @class = "btn btn-primary btnTransaccion", @onclick = "this.disabled = 'disabled',this.form.submit();" })
                </div>
            </div>
        </div>
    </div>

</div>
