@model ayni.Models.Publicacion

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}

@using (Html.BeginForm("CrearOfrecido", "Publicacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4 class="display-4 mb-3 text-center" style="font-size:2.5rem">Ofrecer ayuda</h4>

    <div class="card">
        <div class="d-flex justify-content-center">

            <div class="card-body">
                <h5 class="card-title white-text">
                    @*<strong>Ofrecete para ayudar</strong>*@
                </h5>
                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Titulo)
                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "¿En que podes ayudar?" } })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <label class="col-form-label">Categoría</label>
                        <select class="form-control" name="idCategoria" required>
                            <option value="" disabled selected>Elegí una categoría</option>
                            @foreach (var categoria in ViewBag.Categoria)
                            {
                                <option value="@categoria.idCategoria">@categoria.Descripcion</option>
                            }
                            @Html.ValidationMessageFor(model => model.idCategoria, "Obligatorio", new { @class = "text-danger" })
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", required = "required", placeholder = "Intentá ser lo mas claro posible sobre como podés ayudar", rows = "5" })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>

                    @*UBICACION!!!!!!*@

                    <!-- Provincia -->
                    <div class="form-group">
                        <div class="md-form">
                            <label for="Provincia">Provincia</label>
                            @Html.DropDownList("Provincia", new SelectList(ViewBag.DropDownListProvincia, "id", "iso_nombre", ViewBag.DropDownProvinciaActual), new { @class = "form-control" })
                        </div>
                    </div>

                    <!-- Localidades -->
                    <div class="form-group">
                        <div class="md-form">
                            <div class="custom-control-inline">
                                <label for="Municipio" clas>Localidad</label>
                                <img id="wait" src='../Content/img/whiteIconGrisSegmentos.gif' style="display:none" width="30" height="30" />
                            </div>
                            @Html.DropDownListFor(model => model.Ubicacion, new SelectList(ViewBag.DropDownListLocalidad, "Value", "Text", ViewBag.DropDownLocalidadActual), new { @class = "form-control ubicacionDinamica" })
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile04" name="file">
                            <label class="custom-file-label" for="inputGroupFile04">Seleccionar imagen...</label>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <label>
                            ¿Cuántas vale tu ayuda?
                        </label>
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary rounded-circle mx-1" style="width:43px; background-color:#d49101; border-color:#fcc63f; border-width: 3px;">
                                    <input type="radio" name="valor-check" value="1" checked> 1
                                </label>
                                <label class="btn btn-secondary rounded-circle mx-1" style="width:43px; background-color:#d49101; border-color:#fcc63f; border-width: 3px;">
                                    <input type="radio" name="valor-check" value="2"> 2
                                </label>
                                <label class="btn btn-secondary rounded-circle mx-1" style="width:43px; background-color:#d49101; border-color:#fcc63f; border-width: 3px;">
                                    <input type="radio" name="valor-check" value="5"> 5
                                </label>
                                <label class="btn btn-secondary rounded-circle mx-1" style=" padding-left:10px; padding-right:10px; background-color:#d49101; border-color:#fcc63f; border-width: 3px;">
                                    <input type="radio" name="valor-check" value="10"> 10
                                </label>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon">Otro</div>
                                </div>
                                <input type="text" name="valor-otro" class="form-control" style="height:auto" placeholder="ingresar valor" aria-label="Input group example" aria-describedby="btnGroupAddon">
                            </div>
                        </div>
                    </div>





                    <div class="form-group my-3 float-right">
                        <input type="submit" value="Publicar" class="btn btn-primary" />
                    </div>

                </div>
            </div>
        </div>
    </div>
}

