@model List<ayni.Models.Postulacion>

@{
    ViewBag.Title = "Postulacion";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";

}


<div class="container col-lg-10 col-md-10 col-sm-12">
    <h4 class="display-4 mb-3" style="font-size:2.5rem">Postulaciones</h4>
    <div class="card">
        <div class="card-body">
            @if (ViewBag.postulacionAceptada != null)
            {
                <div class="row justify-content-center">

                    <p>@ViewBag.postulacionAceptada!</p>
                    @*<p>@ViewBag.idTransaccion</p>
                    <p>@ViewBag.idUsuarioAceptado </p>*@
                </div>
                <div class="row justify-content-center">

                    @Html.ActionLink("Empezá a favorear!","Contacto","Transaccion", new { idTransaccion = ViewBag.idTransaccion }, new{ @class = "btn btn-primary" })

                    @*<div class="btn btn-primary">Empezá a favorear!</div>*@
                </div>
            }

            else
            {

                <table class="table table-borderless">
                    
                    <tbody>
                        @foreach (var p in Model)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <img class="rounded-circle mr-2 mt-1" height="50" src="@Url.Content(p.Usuario.Foto)" />
                                        <div class="media-body ml-0 justify-content-between">

                                            <div class="">
                                                <div>
                                                    <h5 class="mt-1 mb-0">
                                                        @Html.ActionLink(p.Usuario.Nombre + " " + p.Usuario.Apellido, "Perfil", "Usuario", new { idUsuario = p.Usuario.idUsuario }, null)
                                                    </h5>
                                                </div>
                                                @if (p.Publicacion.idTipoPublicacion == 1)
                                                {
                                                    if (p.Usuario.CalificaciónPedidos == 0)
                                                    {
                                                        <small class="">-<img src="~/Content/Img/star_calification.png" style="height:16px" class="mb-1 mx-1 mute" /></small>
                                                    }
                                                    else
                                                    {
                                                        <small class="">@p.Usuario.CalificaciónPedidos<img src="~/Content/Img/star_calification.png" style="height:16px" class="mb-1 mx-1 mute" /></small>
                                                    }


                                                }
                                                else
                                                {

                                                    if (p.Usuario.CalificaciónOfrecidos == 0)
                                                    {
                                                        <small class="">-<img src="~/Content/Img/star_calification.png" style="height:16px" class="mb-1 mx-1 mute" /></small>
                                                    }

                                                    else
                                                    {
                                                        <small class="ml-3">@p.Usuario.CalificaciónOfrecidos<img src="~/Content/Img/star_calification.png" style="height:16px" class="mb-1 mx-1 mute" /></small>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>






                                </td>
                                <td>
                                    @if (p.Aceptado == true)
                                    {
                                        if (p.Publicacion.idTipoPublicacion == 1)
                                        {
                                            <p>Aceptaste recibir ayuda de este usuario</p>
                                        }

                                        if (p.Publicacion.idTipoPublicacion == 2)
                                        {
                                            <p>aceptaste el pedido de ayuda de este usuario</p>
                                        }
                                    }
                                    else
                                    {

                                        if (p.Publicacion.idEstadoPublicacion == 2)
                                        {

                                        }
                                        else
                                        {

                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-@p.idPostulacion">
                                                Confirmar postulación
                                            </button>

                                            <div class="modal fade" id="modal-@p.idPostulacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body text-center">
                                                            <p>
                                                                Estas seguro?
                                                                
                                                                Si elegís continuar vas a estar confirmando la postulacion para este favor.
                                                                Sólo se puede aceptar la postulacion de un usuario
                                                            </p>
                                                        
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                            @Html.ActionLink("Confirmar", "Confirmar", "Postulacion", new { idPostulacion = p.idPostulacion }, new { @class = "btn btn-primary", onClick = "this.form.submit(); this.disabled=true; this.value='Sending…'; " })
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

