@using ayni.Sesiones
@model IEnumerable<ayni.Models.Postulacion>


@{
    ViewBag.Title = "Postulaciones";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}

<div class="container col-lg-10 col-md-10 col-sm-12">
    <h4 class="display-4 mb-3" style="font-size:2.5rem">Postulaciones</h4>
    <div class="card">
        <div class="card-body">

            @if (Model.Count() == 0)
            {
                <div class="row justify-content-center">
                    <p class="font-weight-bold">Todavía no te postulaste para hacer favores o u ofrecer ayuda</p>
                </div>
            }

            @foreach (var p in Model)
            {
                //si la publicacion es de otro usuario...
                if (p.Publicacion.idUsuario != SessionManagement.IdUsuario)
                {
                    if (p.Publicacion.idTipoPublicacion == 1)
                    {
                        <p>Te ofreciste para ayudar a @p.Publicacion.Usuario.Nombre @p.Publicacion.Usuario.Apellido</p>
                    }

                    else
                    {
                        <p>Necesitás la ayuda de @p.Publicacion.Usuario.Nombre @p.Publicacion.Usuario.Apellido</p>
                    }

                    <p>@p.Publicacion.Titulo</p>

                    if (@p.Aceptado == null)
                    {
                        <p>Sin confirmar</p>
                    }
                    else
                    {
                        if (@p.Aceptado == true)
                        {
                            <p>Aceptada</p>
                        }

                        else
                        {
                            <p>Rechazada</p>
                        }
                    }



                }
                <p>@p.fecha.ToShortDateString()</p>

                if (p.Aceptado == null)
                {

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-@p.idPostulacion">
                        Cancelar postulación
                    </button>

                    <div class="modal fade" id="modal-@p.idPostulacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    <p>
                                        Estas seguro?
                                        <br />
                                        Se cancelará la postulación para este favor                                       
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <a class="btn btn-primary" href="~/Postulacion/Cancelar?idPostulacion=@p.idPostulacion">Confirmar</a>
                                </div>
                            </div>
                        </div>
                    </div>








                }
            }
        </div>
    </div>
</div>