@model IEnumerable<ayni.Models.Publicacion>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}

@Html.Partial("../Partials/pv_HeaderImagen")
<section class="jumbotron text-center">
    <h1 class="display-4">Pedidos Recientes</h1>
    <div class="container mt-3">
        <div class="card-group">
            @foreach (var p in Model)
            {
                <div class="col-md-4 mt-4">
                    <div class="card mb-4 shadow-sm h-100 mt-2">
                        <div class="card-body mh-100">
                            <h4 class="card-title mh-100">
                                @Html.ActionLink(@p.Titulo, "Detalles", "Publicacion", new { idPublicacion = p.idPublicacion }, new { @class = "" })
                            </h4>
                            <p class="card-text">@p.Descripcion</p>
                            
                        </div>
                        <div class="card-footer">

                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Valor: @p.Valor</small>
                                <small class="text-muted">@p.Categoria.Descripcion</small>
                                @*<button type="button" class="btn btn-sm btn-outline-secondary">Yo te ayudo!</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>