@using ayni.Sesiones;
@model IEnumerable<ayni.Models.Publicacion>

@{
    ViewBag.Title = "Ofrecidos";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";

}



@Html.Partial("../Partials/pv_HeaderImagen")



<section class="jumbotron text-center">


    <h1 class="display-4">Ultimos ofrecidos</h1>
    <div class="container mt-3">
        <div class="card-group">
            @foreach (var p in Model)
            {
                <div class="col-md-4 mt-4">
                    <div class="card mb-4 shadow-sm h-100 mt-2">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@p.Usuario.NombreUsuario</small>
                                @{
                                    if (Session["id"] == null || p.Usuario.NombreUsuario == HttpContext.Current.Session["nombreUsuario"].ToString())
                                    {

                                    }
                                    else
                                    {
                                        <button class="btn btn-sm btn-success btn-rounded" type="submit" data-toggle="modal" data-target="#ofrecimiento-@p.idPublicacion">Necesito tu ayuda!</button>


                                    }
                                }
                            </div>
                        </div>
                        <div class="card-body mh-100">
                            <h4 class="card-title mh-100">
                                @Html.ActionLink(@p.Titulo, "Detalles", "Publicacion", new { idPublicacion = p.idPublicacion }, new { @class = "" })
                            </h4>
                            <p class="card-text  text-justify">@p.Descripcion</p>
                        </div>
                        @*@{
                                if (Session["id"] == null || p.Usuario.NombreUsuario == HttpContext.Current.Session["nombreUsuario"].ToString())
                                {

                                }
                                else
                                {
                                    <div class="align-items-center btn-block">
                                        <button class="btn btn-sm btn-success btn-rounded btn-block" type="submit">Yo te ayudo!</button>
                                    </div>
                                }
                            }*@
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Valor: @p.Valor</small>
                                <small class="text-muted">@p.Categoria.Descripcion</small>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="modal fade" id="ofrecimiento-@p.idPublicacion" tabindex="-1" role="dialog" aria-labelledby="postulacion" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                Le avisaremos <b>@p.Usuario.NombreUsuario</b> que estas necesitando su ayuda!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                @Html.ActionLink("Confirmar", "Postular", "Postulacion", new { idPublicacion = p.idPublicacion }, new { @class = "btn btn-primary" })
                                @*<button type="button" class="btn btn-primary">Confirmar</button>*@
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

    <!-- Modal -->

</section>
