@using ayni.Sesiones;
@model IEnumerable<ayni.Models.Publicacion>

@{
    ViewBag.Title = "Ofrecidos";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
    var mes = "";

}




<section class="jumbotron">

    <h1 class="display-4 text-center" id="publicaciones_recientes">Favores Ofrecidos</h1>
    <div class="card-group">
        @foreach (var p in Model)
        {
            <div class="col-md-4 mt-4">
                <div class="card mb-4 shadow-sm h-100 mt-2">



                    <div class="card-body mh-100">

                        <div class="d-flex justify-content-between">
                            <small>@p.Categoria.Descripcion</small>

                            <small class="text-muted">
                                @p.Valor <img src="../Content/img/coin_icon.png" height="25" />
                            </small>

                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <img class="rounded-circle" height="30" src="@Url.Content(p.Usuario.Foto)" />
                                @Html.ActionLink(p.Usuario.Nombre + " " + p.Usuario.Apellido, "Perfil", "Usuario", new { idUsuario = p.idUsuario }, new { @class = "font-weight-bold text-left mb-1 text-dark" })
                            </div>

                            @switch (p.Fecha_publicacion.Month)
                            {
                                case 1: mes = "enero"; break;
                                case 2: mes = "febrero"; break;
                                case 3: mes = "marzo"; break;
                                case 4: mes = "abril"; break;
                                case 5: mes = "mayo"; break;
                                case 6: mes = "junio"; break;
                                case 7: mes = "julio"; break;
                                case 8: mes = "agosto"; break;
                                case 9: mes = "septiembre"; break;
                                case 10: mes = "octubre"; break;
                                case 11: mes = "noviembre"; break;
                                default: mes = "diciembre"; break;
                            }
                            <p class="small m-0 text-left text-muted">@p.Fecha_publicacion.Day de @mes</p>

                        </div>

                        <h5>
                            @Html.ActionLink(@p.Titulo, "Detalles", "Publicacion", new { idPublicacion = p.idPublicacion }, new { @class = "" })
                        </h5>
                        @if (@p.Descripcion.Length > 140)
                        {
                            <p class="card-text  text-justify">@p.Descripcion.Substring(0, 140)...</p>
                        }
                        else
                        {
                            <p class="card-text  text-justify">@p.Descripcion</p>
                        }

                    </div>
                    <div>
                        @if (p.Imagen != null)
                        {
                            <img class="card-img-bottom" style="object-fit:cover; height: 200px" src="@Url.Content(p.Imagen)" />
                        }


                    </div>
                    <div class="card-footer d-flex align-content-between">


                        <small>@p.Ubicacion</small>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Modal -->

</section>