
@{
    ViewBag.Title = "Modificar";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}

@model ayni.Models.Usuario


<div class="jumbotron d-flex justify-content-center">
    <div class="card col-6 shadow-sm">


        <div class="card-body">
            <h5 class="card-title white-text">
                <strong>Modificar</strong>
                @*<p class="text-danger">@TempData["errorSaldo"]</p>*@
            </h5>

            <!-- Form -->
            <form action="@Url.Action("Modificar", "Usuario")" method="post">


                <div class="form-group">
                    <!-- NombreUsuario -->
                    <div class="md-form">
                        <label for="NombreUsuario">Usuario </label>
                        @Html.TextBoxFor(u => u.NombreUsuario, "", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <!-- NombreUsuario -->
                    <div class="md-form">
                        <label for="materialRegisterFormFirstName">Email</label>
                        @Html.TextBoxFor(u => u.Email, "", new { @class = "form-control" })
                    </div>
                </div>


                <!-- Contraseña -->
                <div class="form-group">
                    <!-- NombreUsuario -->
                    <div class="md-form">
                        <label for="Password">Nueva Contraseña</label>

                        @Html.TextBoxFor(u => u.Password, "", new { @class = "form-control", @type = "password" , @required = "required"})
                    </div>
                </div>

                <div class="form-group">
                    <!-- NombreUsuario -->
                    <div class="md-form">
                        <label for="Password">Repetir nueva Contraseña</label>

                        @Html.TextBox("Repass", "", new { @class = "form-control", @type = "password", @required = "required" })
                    </div>
                </div>


                <!-- acepto -->
                @*<div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
                        <label class="form-check-label" for="materialRegisterFormNewsletter">Acepto los términos y condiciones</label>
                    </div>*@

                <!-- Sign up button -->
                <div class="form-group d-flex justify-content-between">

                    <button class="btn btn-primary" type="submit">Confirmar cambios</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal">
                        Eliminar cuenta
                    </button>
                </div>
                @Html.Partial("../Partials/pv_EliminarModal")
                </form>
        </div>


        @TempData["MensajeModif"]
        <!-- Form -->


    </div>
    <!-- Material form register -->

</div>