@model ayni.Models.Publicacion

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container py-4">
        <div class="card mt-3">
            <h5 class="card-header white-text text-center py-4">
                <strong>Detalle de publicacion</strong>
            </h5>
            <div class="form-group">
                <div class="form-group">
                    <div class="col-md-10">
                        <label class="col-form-label">Tipo de publicacion</label>
                        <div class="md-form">
                            @Html.TextBoxFor(p => p.TipoPublicacion.Descripcion, "", new { @class = "form-control border-0" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <label class="col-form-label">Categoría</label>
                        <div class="md-form">
                            @Html.TextBoxFor(p => p.Categoria.Descripcion, "", new { @class = "form-control border-0" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control border-0" } })
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "for-control" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control", min = 0 } })
                        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Publicar" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


