@model List<ayni.Models.Publicacion>
@using ayni.Models

@{
    ViewBag.Title = "Ofrecimientos";

    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}


<div class="container col-lg-10 col-md-10 col-sm-12">
    <h4 class="display-4 mb-3" style="font-size:2.5rem">Favores ofrecidos</h4>
    <div class="card">
        <div class="card-body">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="~/Cuenta/Pedidos">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="~/Cuenta/Ofrecimientos">Ofrecidos</a>
            </ul>


            @if (Model.Count == 0)
            {
                <div class="m-3">
                    <div class="row justify-content-center">
                        <p>
                            Todavía no realizaste ningun ofrecimiento. Podés hacerlo desde acá
                        </p>
                    </div>
                    <div class="row justify-content-center">
                        <p>
                            @Html.ActionLink("Ofrecer ayuda", "Crearofrecido", "Publicacion", "", htmlAttributes: new { @class = "btn btn-primary" })
                        </p>
                    </div>
                </div>
            }
            else
            {



                <table class="table table-borderless">

                    <tbody>

                        @foreach (var p in Model)
                        {
                            <tr class="m-5">
                                <td class="text-center">
                                    <img class="" style="object-fit:cover; height: 100px; width:120px" src="@Url.Content(p.Imagen)" />
                                </td>

                                <td class="">
                                    <small class="text-muted">@p.Categoria.Descripcion</small>
                                    <h5 class="m-0">
                                        @Html.ActionLink(p.Titulo, "Detalles", "Publicacion", new { idPublicacion = p.idPublicacion }, new { @style = "" })
                                    </h5>
                                    <small class="text-muted">@p.Fecha_publicacion.ToShortDateString()</small>

                                    @if (p.Postulacion.Count() != 0)
                                    {
                                        if (p.Postulacion.Count() == 1)
                                        {
                                            <p class="small p-0 m-0 alert">
                                                @Html.ActionLink(@p.Postulacion.Count() + " persona se ofreció a ayudarte", "Postulacion", "Publicacion", new { idPublicacion = p.idPublicacion }, null)
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="small p-0 alert">
                                                @Html.ActionLink(@p.Postulacion.Count() + " personas se ofrecieron a ayudarte", "Postulacion", "Publicacion", new { idPublicacion = p.idPublicacion }, null)

                                            </p>
                                        }
                                    }


                                    <p class="mt-1">
                                        @p.Valor <img src="../Content/img/coin_icon.png" height="25" />
                                    </p>
                                </td>


                                <td>
                                    <small class="text-muted">Publicación @p.EstadoPublicacion.Descripcion</small>
                                </td>
                                <td></td>

                                <td>

                                    @if (p.idEstadoPublicacion == 1)
                                    {
                                        @Html.ActionLink("Editar", "Modificar", "Publicacion", new { idPublicacion = p.idPublicacion }, new { @class = "btn btn-outline-primary btn-sm" })

                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eliminarPublicacionModal">Eliminar   </button>
                                        @Html.Partial("../Partials/pv_EliminarPublicacionModal")
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>


@Html.Partial("../Partials/pv_EliminarPublicacionModal")

@Html.Raw(TempData["MensajeModif"])
