@model List<ayni.Models.Publicacion>

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}


    <div class="container">
        <h4 class="p-md-4">Mis pedidos de favores</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Categoría</th>
                    <th>Estado</th>
                    <th>Fecha de publicación</th>
                    <th>Valor</th>
                 
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(p.Titulo, "Detalles", "Publicacion", new { idPublicacion = p.idPublicacion }, new { @class = "card-title" })
                        </td>
                        <td>@p.Categoria.Descripcion</td>
                        <td>@p.EstadoPublicacion.Descripcion</td>

                        <td>@p.Fecha_publicacion.Day/@p.Fecha_publicacion.Month/@p.Fecha_publicacion.Year</td>
                        <td>@p.Valor</td>
                        
                    </tr>

                }
            </tbody>
        </table>
        @Html.Partial("../Partials/pv_EliminarPublicacionModal")
    </div>


    @Html.Raw(TempData["MensajeModif"])
