@model  List<ayni.Models.Transaccion>

@{
    ViewBag.Title = "Transacciones";
    int idUsuario = Convert.ToInt32(Session["id"]);
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}

<div class="container col-lg-10 col-md-10 col-sm-12">
    <h4 class="display-4 mb-3"style="font-size:2.5rem">Transacciones</h4>
    <div class="card">
        <div class="card-body">

            @if (Model.Count() == 0) {

            <div class="row justify-content-center">
                <strong>Aun no realizaste ninguna transaccion </strong>
            </div>
            }


            <table class="table table-borderless">
                
                <tbody>
                    @foreach (var t in Model)
                    {
                    <tr>
                        <td>






                            @if (t.Publicacion.idTipoPublicacion == 1 && t.Publicacion.idUsuario != idUsuario)
                            {
                                <p class="mb-1">
                                    Haciendo un favor a @t.Publicacion.Usuario.Nombre @t.Publicacion.Usuario.Apellido
                                </p>
                            }


                            @if (t.Publicacion.idTipoPublicacion == 2 && t.Publicacion.idUsuario == idUsuario)
                            {
                                <p class="mb-1">
                                    Haciendo un favor a @t.Usuario.Nombre @t.Usuario.Apellido

                                </p>
                            }

                            @if (t.Publicacion.idTipoPublicacion == 1 && t.Publicacion.idUsuario == idUsuario)
                            {
                                <p class="mb-1">
                                    Recibiendo un favor de @t.Usuario.Nombre @t.Usuario.Apellido

                                </p>
                            }

                            @if (t.Publicacion.idTipoPublicacion == 2 && t.Publicacion.idUsuario != idUsuario)
                            {
                                <p class="mb-1">
                                    Recibiendo un favor de @t.Publicacion.Usuario.Nombre @t.Publicacion.Usuario.Apellido

                                </p>
                            }
                            <h4 class="mb-0">@Html.ActionLink(t.Publicacion.Titulo, "Contacto", "Transaccion", new { idTransaccion = t.idTransacion }, new { @class = "card-title" })</h4>

                        </td>
                        <td>
                            <small class="text-muted">@t.EstadoTransaccion.Descripcion</small>
                        </td>
                        <td>
                            <small class="text-muted">@t.Publicacion.Fecha_publicacion.ToShortDateString()</small>
                        </td>


                    </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>