@using ayni.Models;
@using ayni.Sesiones;

@{
    ViewBag.Title = "pv_Navbar_home";
    string imagen = null;
    if (Session["id"] != null)
    {
        imagen = Session["PerfilImg"].ToString();
    }
}

<!-- Main navigation -->
<div>
    <!--Navbar-->



    @*<style>
        nav.navbar {
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    </style>*@

    <nav class="nav-home navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index">
                <img class="" style="
    height: 60px"
     ; src="../Content/img/AyniLogoAficheCF.png" alt="AyniLogo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">

                <ul class="navbar-nav mr-auto">

                    <li class="nav-home nav-item navColor">
                        <a class="nav-link" href="">¿Qué es Ayni?</a>
                    </li>
                    <li class="nav-home nav-item navColor">
                        <a class="nav-link " href="">¿Cómo funciona?</a>
                    </li>
                    <li class="nav-home nav-item navColor">
                        <a class="nav-link " href="">Contactanos</a>
                    </li>
                </ul>

                @{ if (Session["id"] == null)
                    {
                        <ul class="navbar-nav mr-auto"></ul>
                        @*<div class="btn-group justify-content-end">*@
                        <a class="btn btn-light m-1" id="register_button" href="~/Usuario/Registro">
                            Crear cuenta
                        </a>
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#exampleModal">
                            Ingresar
                        </button>
                        @*</div>*@

                    }
                    else
                    {

                        <div class="dropdown">
                            <span class="user text-white">

                                <strong>
                                    @Session["Nombre"]
                                    @Session["Apellido"]
                                </strong>

                                <img class="rounded-circle" height="30" src="@Url.Content(@imagen)" />
                                <strong>@HttpContext.Current.Session["saldo"].ToString() </strong>
                                <img src="../Content/img/coin_icon.png" height="30" />
                            </span>



                            <button type="button" class="btn btn-default" data-toggle="dropdown"><span class="navbar-toggler-icon"></span></button>
                            <div class="dropdown-menu">
                                <h5 class="dropdown-header">Opciones de la cuenta</h5>
                                <div class="dropdown-divider"></div>

                                @Html.ActionLink("Mi Perfil", "MiPerfil", "Usuario", null, new { @class = "dropdown-item" })

                                @Html.ActionLink("Favores", "Pedidos", "Cuenta", null, new { @class = "dropdown-item" })

                                @Html.ActionLink("Preguntas", "Enviadas", "Pregunta", null, new { @class = "dropdown-item" })

                                @Html.ActionLink("Postulaciones", "Postulaciones", "Postulacion", null, new { @class = "dropdown-item" })

                                @Html.ActionLink("Transacciones", "Transacciones", "Cuenta", null, new { @class = "dropdown-item" })

                                <a class="dropdown-item" href="#">Configuración</a>
                                @Html.ActionLink("Modificar", "Modificar", "Usuario", new { nombreUsuario = @SessionManagement.NombreUsuario.ToString() }, new { @class = "dropdown-item" })
                                <a class="dropdown-item" href="#">Preferencia</a>
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Salir", "Salir", "Sesion", new { nombreUsuario = @SessionManagement.NombreUsuario.ToString() }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </nav>

    <div class="">
        @*@Html.Raw(TempData["Mensaje"])*@
    </div>
    
</div>

