@using ayni.Models;
@using ayni.Sesiones;

@{
    ViewBag.Title = "pv_Navbar";
}

<!-- Main navigation -->
<div>
    <!--Navbar-->

    <nav id="navScroll" class="navbar navbarGr navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index">
                <strong>Ayni</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">

                <ul class="navbar-nav mr-auto">

                    @*<li class="nav-item active">
                        @Html.ActionLink("Crear", "Crear", "Publicacion", new { nombreUsuario = @SessionManagement.NombreUsuario.ToString() }, new { @class = "nav-link" })
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="#">¿Qué es Ayni?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">¿Cómo funciona?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contactanos</a>
                    </li>
                </ul>

                @{ if (Session["id"] == null)
                    {
                        <ul class="navbar-nav mr-auto"></ul>
                        <div class="btn-group justify-content-end">
                            <a class="btn btn-outline-primary" href="~/Usuario/Registro">
                                Registro
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Ingresar
                            </button>
                        </div>

                    }
                    else
                    {

                        <div class="dropdown">
                            <span class=text-white>
                                <strong>@HttpContext.Current.Session["nombreUsuario"].ToString() </strong>
                            </span>
                            <button type="button" class="btn btn-default" data-toggle="dropdown"><span class="navbar-toggler-icon"></span></button>
                            <div class="dropdown-menu">
                                <h5 class="dropdown-header">Opciones de la cuenta</h5>
                                <div class="dropdown-divider"></div>

                                @Html.ActionLink("Mis Pedidos", "Pedidos", "Cuenta", "", new { @class = "dropdown-item" })
                                @Html.ActionLink("Mis Ofrecimientos", "Ofrecimientos", "Cuenta", "", new { @class = "dropdown-item" })
                                @Html.ActionLink("Transacciones", "Transacciones", "Cuenta", "", new { @class = "dropdown-item" })

                                <a class="dropdown-item" href="#">Configuración</a>
                                @Html.ActionLink("Modificar", "Modificar", "Usuario", new { nombreUsuario = @SessionManagement.NombreUsuario.ToString() }, new { @class = "dropdown-item" })
                                <a class="dropdown-item" href="#">Preferencia</a>
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Salir", "Salir", "Sesion", new { nombreUsuario = @SessionManagement.NombreUsuario.ToString() }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </nav>
    <!-- Full Page Intro -->
        @Html.Raw(TempData["Mensaje"])
</div>

