<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@

</head>
<body>

    
    @RenderBody()    
    @Html.Partial("../Partials/pv_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Zero/jquery")
    @RenderSection("scripts", required: false)

    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() < 50) {
                $('nav.nav-home').addClass('navbar-dark bg-transparent');
                $('span.user').addClass('text-white');

            } else {
                $('nav.nav-home').removeClass('navbar-dark bg-transparent');
                $('span.user').removeClass('text-white');
                $('nav.nav-home').addClass('navbar-light bg-light')
            }
        });
    </script>

</body>
</html>
