@model ayni.Models.Pregunta


@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}



<div class="container col-lg-10 col-md-10 col-sm-12">
    <h4 class="display-4 mb-3" style="font-size:2.5rem">Responder pregunta</h4>
    <div class="card">
        <div class="card-body">

            <div>

                <h5 class="mb-1">
                    @Model.Publicacion.Titulo

                </h5>

            </div>

            <div class="media my-3">
                <img class="rounded-circle mr-2" height="30" src="@Url.Content(Model.Usuario.Foto)" />
                <div class="media-body col-12 py-2" style="background-color: #f5f5f5">
                    <span class="">
                        @Model.Descripcion
                        <small class="text-muted">@Model.Fecha</small>
                    </span>
                </div>
            </div>

            @using (Html.BeginForm("Responder", "Pregunta", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.idPregunta)
                @Html.TextAreaFor(model => model.Respuesta.Descripcion, new { @class = "form-control", required = "required", placeholder = "Ingresá tu respuesta", rows = "5" })
                <div class="form-group my-3 float-right">
                    <input type="submit" value="Responder" class="btn btn-primary" />
                </div>
            }

        </div>
    </div>
</div>


