@model ayni.Models.Pregunta


@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}

<h2>Detalle</h2>

@using (Html.BeginForm("Responder", "Pregunta", FormMethod.Post))
{


    <p>@Model.Usuario.Nombre @Model.Usuario.Apellido</p>
    <p>
        @Model.Publicacion.Titulo
    </p>
    <p>@Model.Descripcion</p>

    if (Model.Respuesta == null)
    {

        @Html.HiddenFor(model => model.idPregunta)
        @Html.TextAreaFor(model => model.Respuesta.Descripcion, new { @class = "form-control", required = "required", placeholder = "Intentá ser lo mas claro posible en tu pedido", rows = "5" })
        <div class="form-group my-3">
            <input type="submit" value="Responder" class="btn btn-outline-primary" />
        </div>
    }

    else
    {

        <p>@Model.Respuesta.Descripcion</p>
    }
}

